.bored_header_logo {
    margin: 2rem 0;
    font-family: 'Caveat', cursive;
}

.bored_header_button {
    margin-bottom: 2rem;
}

.bored_footer_button {
    font-size: .8rem;
    margin: 1.5rem
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}