<div style="text-align: center">

    <div class="bored_header_logo">
        <h1>Bored_Pinterest</h1>
    </div>
    <div class="bored_header_button">
        <span>nav1</span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                LogOut
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:login' %}">
                LogIn
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
    </div>


</div>